.header{
    position: fixed;
    top: 2vmin;
    background-color: white;
    width: 99%;
    border-radius: 3vmin;
   
}

.header .navbar{
    font-size: 3vmin;
}

.navbar{
    
    float: right;
    padding-right: 3vmin;
    word-spacing: 5vmin;
}

.flag {
    position: fixed;
    left: 10vmin;
    width: 10vmin;
}


.header .navbar li{

    font-size: 3vmin;
    display: inline;
    
}

.header .navbar a{

    color: black;
    text-decoration: none;
}
body{
    background-image:linear-gradient(rgb(243, 109, 0),rgb(0, 0, 112),rgb(0, 219, 0))
}

.box{

    padding: 2vmin;
    font-size: 3vmin;
}


.intro{
    margin-top: 13vmin;
    border-radius: 2vmin;
    background-color: rgb(255, 255, 255);
    height:auto;
    padding: 1vmin;
    padding-top: 2vmin;
    
}

.title{
    
    padding: 1vmin;
    font-size: 8vmin;
    text-align: center;

}

.title p{
    margin: 0vmin;
    padding: 0vmin;
    padding-bottom: 2vmin;
    word-spacing: 5px;
}


.title img{
    width: 20vmin;
    border-radius: 25vmin;
}

.intro .description{
    font-size: x-large;
    padding: 2vmin;
}
.highlight{
    background-color: #ddff45;
}

.hisgeo{
    
    border-radius: 2vmin;  
    background-color: skyblue;
    height: auto;
    padding: 1vmin;
    margin-top: 15vmin;
    
    
}
#hist{
    font-size:x-large;
}
.hisgeo .title{
    padding-top: 15vmin;
}
.indcontribute{
    border-radius: 2vmin;
    margin-top: 15vmin;
    background-color: skyblue;
    height: 95vmin;
    padding: 1vmin;
    
}
.indcontribute .title{
    padding-top: 15vmin;
}

.probsols{
    border-radius: 2vmin;
    
    margin-top: 15vmin;
    margin-bottom: 2vmin;
    background-color: skyblue;
    height: 85vmin;
    padding: 1vmin;
}

.probsols .title{
    padding-top: 15vmin;
}



#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      /* opacity .5s, visibility .5s; */
    opacity: 0;
    /* visibility: hidden; */
    /* z-index: 1000; */
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }