
.header{
    position: fixed;
    top: 2vmin;
    background-color: #f8c4a9;
    width: 98.5%;
    border-radius: 2vmin;
    box-shadow:1px 1px 2px #4b0213 ,1px 1px 2px #580015,1px 1px 2px #580015 inset,1px 1px 2px #580015 inset;
}

.header .navbar{
    font-size: 3vmin;

}

.navbar{
    padding-right: 3vmin;
    float: right;
    word-spacing: 4vmin;
}
.flag {
    position: fixed;
    left: 10vmin;
    width: 10vmin;
}


.header .navbar li{
    display: inline-flex;
    font-size: 3vmin;
    display: inline;

}

.header .navbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;   
    display: inline-block;
    padding: 5px;
}

.header .navbar a:hover{
    color: rgb(70, 255, 255);
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
}
body{
    background-color: #b3b8e2;
    padding: 4px;
}
@media screen and (max-width:600px) {
    .navbar{
        float: none;
        word-spacing: 2vmin;
    }
    .flag{
        left: 4vmin;
        width:7vmin;
        top: 11px;
        position: fixed;
    }
}
.box{

    padding: 2vmin;
    font-size: 3vmin;
}


.intro{
    margin-top: 13vmin;
    border-radius: 2vmin;
    /* background-color: rgb(37, 34, 39); */
    /* background-color: white; */
    background-image: url(../images/introbg.jpg);
    background-position-y: top;
    background-size: cover;

    height:auto;
    padding: 4vmin;
    padding-top: 2vmin;
    box-shadow:1px 1px 5px rgb(0, 0, 0),1px 1px 5px rgb(0, 0, 0),1px 1px 5px rgb(0, 0, 0) inset,1px 1px 5px rgb(0, 0, 0) inset;
    
}

.title{
    
    padding: 1vmin;
    font-size: 8vmin;
    text-align: center;
}

#india{
    margin-left: 42%;
    margin-right:42%;
    animation: animate 1s linear infinite;
    color: rgb(255, 255, 255);
    /* background-image:linear-gradient(rgb(255, 174, 108),rgb(255, 255, 255),rgb(255, 172, 104)); */
    filter: drop-shadow(4px 4px 3px rgb(119, 119, 119));
}
@keyframes animate{
    0%
    {
        opacity: 4;
        color: rgb(255, 255, 255);
    }
    33.33%
    {
        opacity: 1;
        color: rgba(253, 51, 0, 0.808);
    }
    66.66%
    {
        opacity: 1;
        color: rgb(0, 31, 133);
    }
    90%
    {
        opacity: 1;
        color: rgb(0, 179, 0);
    }
}
#potential{
    animation: texttype 3s infinite;
    overflow: hidden;
    white-space:nowrap;
    margin-left: 290px;
    color: rgb(0, 0, 0);
}
@keyframes texttype{
    0%{
        width: 0ch;
        color: rgb(151, 151, 151);
    }
    100%{
        width: 29.5ch;
        color: rgb(0, 0, 0);
    }
}
.title p{
    margin: 0vmin;
    padding: 0vmin;
    padding-bottom: 2vmin;
    word-spacing: 5px;
}


.title img{
    width: 20vmin;
    border-radius: 25vmin;
    border: 5px solid #0003b1;
}


.intro .description{
    background-color: rgba(255, 255, 255, 0.637);
    font-size: x-large;
    padding: 2vmin;
    color: rgb(0, 0, 0);
}
.highlight{
    background-color: rgb(255, 227, 101);
    color: rgb(0, 0, 0);
}

.hisgeo{
    
    border-radius: 2vmin;  
    background-color: skyblue;
    height: auto;
    padding: 1vmin;
    margin-top: 15vmin;
    
    
}
#hist{
    font-size:x-large;
}
.hisgeo .title{
    padding-top: 15vmin;
}
.indcontribute{
    border-radius: 2vmin;
    margin-top: 15vmin;
    background-color: skyblue;
    height: 95vmin;
    padding: 1vmin;
    
}
.indcontribute .title{
    padding-top: 15vmin;
}

.probsols{
    border-radius: 2vmin;
    
    margin-top: 15vmin;
    margin-bottom: 2vmin;
    background-color: skyblue;
    height: 85vmin;
    padding: 1vmin;
}

.probsols .title{
    padding-top: 15vmin;
}



#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
      /* opacity .5s, visibility .5s; */
    /* opacity: 0; */
    /* visibility: hidden; */
    /* z-index: 1000; */
  }
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

